@tailwind base;
@tailwind components;
@tailwind utilities;

@media (prefers-color-scheme:light) {
	:root {
		--bg: #d6d6d6;
		--text: #000000;
		--secondary: #888888;
		--secondary-2: #707070;
	}
}

@media (prefers-color-scheme:dark) {
	:root {
		--bg: #1f1f1f;
		--text: #9f9f9f;
		--secondary: #444;
		--secondary-2: #303030;
	}
}

[data-theme='dark'] {
	--bg: #1f1f1f;
	--text: #9f9f9f;
	--secondary: #444;
	--secondary-2: #303030;
}

/* [data-theme='light'] { */

:root {
	font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
	line-height: 1.5;
	font-weight: 400;

	color-scheme: light dark;
	/* max-width: 1060px; */
	/* border:1px solid red; */

	--accent: #fd22da;

	background-color: var(--bg);
	color: var(--text);
}

body {
	width: 100%;
}

h1 {
	font-size: 2.5rem;
}
