@import url('https://fonts.googleapis.com/css?family=Inter:700|Inter:400');
@import url("https://fonts.googleapis.com/css?family=Poppins:700|Poppins:400");
@tailwind base;
@tailwind components;
@tailwind utilities;

/* system-pref */
/* @media (prefers-color-scheme:light) { */
/* 	:root { */
/* 		--bg: #dadada; */
/* 		--text: #000000; */
/* 		--text-alt: #000000; */
/* 		--secondary: #ededed; */
/* 		--secondary-2: #ccc; */
/* 	} */
/* } */
/**/
/* @media (prefers-color-scheme:dark) { */
/* 	:root { */
/* 		--bg: #131313; */
/* 		--text: #9f9f9f; */
/* 		--text-alt: #1f1f1f; */
/* 		--secondary: #222; */
/* 		--secondary-2: #202020; */
/* 	} */
/* } */

/* [data-theme='light'] { */
:root {
		--bg: #fff;
		--text: #000000;
		--text-alt: #000000;
		--secondary: #ededed;
		--secondary-2: #eee;
}

[data-theme='dark'] {
	/* --bg: #131313; */
	--bg: #0f0f0f;
	--text: #9f9f9f;
	--text-alt: #1f1f1f;
	--secondary: #222;
	--secondary-2: #202020;
}


:root {
	font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
	line-height: 1.5;
	font-weight: 400;
	font-display: swap;

	color-scheme: light dark;

	--accent-col: #dd22da;
	/* --accent-col: #965dce; */
	/* --accent-col: #51a418; */
	--accent: color-mix(in srgb, var(--text), var(--accent-col));

	background-color: var(--bg);
	color: var(--text);
	transition: all .25s cubic-bezier(0.455, 0.03, 0.515, 0.955);
}

body {
	width: 100%;
}

h1 {
	font-size: 1.75rem;
}

h2 {
	font-size: 1.5rem;
}

h3 {
	font-size: 1.35rem;
}

h4 {
	font-size: 1.25rem;
}

h5 {
	font-size: 1.1rem;
}
